<nav class="navbar navbar-expand-md navbar-light" style="background-color: #ffffff">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
    <!-- imagem logo com link para HOME -->
    <div>
        <center><img src="https://i.ibb.co/12hpjHV/logo-1.png" width="100" height="45" /></center>
    </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    {{!-- outros botões da navbarr --}}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{#if user}}

        {{!-- dropdown de pedidos --}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Vendas 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/catalogo/catalogo">Catalogo</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/pedidos/addpedido">Criar pedido</a></li>
            <li><a class="dropdown-item" href="/pedidos/pedidos">Consultar pedido</a></li>
          </ul>
        </li>

        {{!-- dropdown de clientes --}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Clientes 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/clientes/addcliente">Cadastro de cliente</a></li>
            <li><a class="dropdown-item" href="/clientes/listaclientes">Consulta de cliente</a></li>
          </ul>
        </li>

        {{!-- dropdown de produtos --}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Estoque 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/produtos/listaprodutos">Cadastro de produtos</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/categorias/listacategorias">Cadastro de categorias</a></li>
          </ul>
        </li>

        {{!-- dropdown de produtos --}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Gestão 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/usuarios/admuser">Usuários</a></li>
          </ul>
        </li>

          {{!-- Efetua logof do sistema --}}
          <li class="nav-item">
            <a class="nav-link" href="/usuarios/logout" tabindex="-1" aria-disabled="true">| Sair |</a>
          </li>

          {{!-- caso esteja deslogado, exibe apenas o botão LOGIN na navbar --}}
          {{else}}
            <li class="nav-item">
              <a class="nav-link" href="/login" tabindex="-1" aria-disabled="true">| Login |</a>
            </li>

        {{/if}}
      </ul>
    </div>
  </div>
</nav>


<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
